<p id="notice"><%= notice %></p>


<h1>Listing Brands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to(brand.name, brand) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brand', new_brand_path %>
<%= link_to("products", products_path) %>
