<h1>Listing Reviews</h1>
<ul>
  <% @reviews.each  do |review| %>
  <li> 
    <p class="user-name"></p> 
    <p><%= review.description %></p>
    <p><%= review.product.name %></p>
    <p><%= review.review_date %></p>
    <p><%= link_to("view product", review.product) %></p>

  </li>
  <% end %>
</ul> 